<ion-header>
  <ion-toolbar>
    <ion-title>MiGPS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ubicación Actual</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Latitud:</strong> {{ latitude || 'Cargando...' }}</p>
      <p><strong>Longitud:</strong> {{ longitude || 'Cargando...' }}</p>

      <ion-button expand="block" (click)="openInGoogleMaps()" [disabled]="!latitude || !longitude">
        Ver en Google Maps
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

